.SingleItemBar {
    justify-content: space-between;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

.SingleItemBar__leftColumn {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SingleItemBar__rightColumn {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.SingleItemBar__text {
    color: rgb(95, 99, 104);
    font-size: 14px;
    padding-top: 2px;
}

.SingleItemBar__backButton {
    cursor: pointer;
}
