
.SingleView {
	width: 75%;
}

.SingleViewContent {
	padding-top: 30px;
	padding-left: 50px;
}

.SingleViewContent__title {
	font-size: 1.375rem;
	color: rgb(32, 33, 36);
	font-weight: 400;
}

.SingleViewContent__author {
	font-size: .875rem;
	letter-spacing: .2px;
	color: #202124;
	line-height: 20px;
}

.SingleViewContent__content {
	margin-top: 15px;
	font-size: 13px;
	color: rgb(34, 34, 34);
}

.SingleViewFooter {
	border-top: 1px solid #dbdbdb;
	padding-top: 25px;
	margin-top: 25px;
}